/* Estilos globales */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #ccc8ff;
    font-family: "Google Sans", sans-serif;

}

/* Encabezado */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: #ac97fa;
}

/* Navegacion */
.lista-navegacion{
    display: flex;
    list-style: none;
}
.lista-navegacion li{
    margin: 0 10px;
}
.lista-navegacion a{
    text-decoration: none;
    color: white;
}
.lista-navegacion a:hover{
    color: black;
}
.active{
    font-weight: bold;
}

/* Perfil de usuario */
.perfil{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
} 
.perfil img{
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
}
.perfil p{
    background-color: #f8c2ff;
    padding: 15px;
}

/* publicaciones */

.publicaciones article{
    margin: 10px;
    padding: 10px;
    /* border: 1px solid black; */
    background-color: #bbdced;
    border-radius: 10px;
}
    /* Boton de publicaciones */
.publicaciones button{
    background-color:#20afd8;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.publicaciones button:hover{
    background-color:#95a2e7 ;
    transform: scale(1.1);
}
    /* Usuarios */
#Usuario1{
    background-color:#e0c9ff;
    color:#5f202f ;
    border-style: double;
}
#Usuario2{
    background-color: #8890ff;
    color: #87a64a;
    border-style: groove;
}
#Usuario3{
    background-color: #8890ff;
    color: #86589a;
    border-style: dotted;
}
    /* Combertirlo en cajas */
.usuarios{
    display: flex;
    justify-content: space-between;
}
#Usuario1:hover{
    background-color: #ffa097;
}
#Usuario2:hover{
    background-color: #ffa097;
}
#Usuario3:hover{
    background-color: #ffa097;
}

/* Otros usuarios */
.mas-usuarios{
    display: flex;
    flex-direction: column;
}
.mas-usuarios img:hover{
    transform: scale(1.1);
}
#Usuario4{
    background-color:#00a690;
    border-style: dashed;
    margin: 10px;
    border-color:#825ca3 ;
    padding: 10px;
    width: 20%;
}
#Usuario5{
    background-color:#00a16e;
    border-style: inset;
    margin: 10px;
    padding: 10px;
    border-color: #825ca3;
    width: 20%;
}
