/* Estilos globajes */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    /* background-color: #f8efbc; */
    background: linear-gradient( #4ed6aa,#a9e1a0);
    background-repeat: no-repeat;
    margin-bottom: 13px white;
}
h1, h2, h3{
    font-family:"Google Sans", sans-serif;
    
}
body p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Encabezado */
.encabezado{
    display: flex;
    align-items: center;
    flex: auto;
    justify-content: space-between;
    background-color: #008fff;
    padding: 10px; /*Espacio entre el contenido y el borde*/
}
.encabezado h1{
    color: white;
    flex: 1 1 auto;
}
.encabezado nav{
    flex: 2 1 auto;
}
.encabezado ul{
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}
.encabezado li{
    margin: 0 10px;
}
.encabezado a{
    text-decoration: none;
    color: white;
}
.encabezado a:hover{
    color: black;
}
#inicio{
    font-weight: bold;
}

/*Mensaje bienvenida*/
.bienvenida{
    /*texto*/
    text-align: center;
    color: white;

    /*Imagen*/
    background-image: url(../img/disney.jpg);
    background-size: cover;
    background-position:top;

    padding: 5%;
}
    /*Boton*/
.bienvenida > button{
    padding: 10px;
    background-color:#4ed6aa;
    border-radius: 10px;
    margin: 10px;
    font-weight: bold;
}
.bienvenida > button:hover{
    transform: scale(1.1);
    background-color: #00a6e2;
    color: white;
}

/*Peliculas destacadas*/
.peliculas_destacadas {
    display: flex;
    justify-content: space-around;
    margin: 20px;
    /* flex-wrap: wrap; */
}
.peliculas_destacadas > div {
    background-color:#00c0c0;
    border: 4px dashed  #ecc958;
    padding: 10px;
    width: 400px;
    margin: 15px;
}
#pelicula1{
    flex: 1 3 auto;
}
#pelicula3{
    flex: 2 1 auto;
}
#pelicula2{
    flex: 1 1 auto;
}
    /*Imagen peliculas*/
.peliculas_destacadas img{
    border-radius: 12px;
}
    /*Boton peliculas*/
.peliculas_destacadas button{
    padding: 5px;
    background-color: #4ed6aa;
    border-radius: 15px;
}
.peliculas_destacadas button:hover{
    background-color: #00a6e2;
    color: white;
    transform: scale(1.1);
}
.peliculas_destacadas > div > h3{
    color: #364b71;
    font-weight: bold;
}
.peliculas_destacadas > div > h3:hover{
    color: #17a58f;
}

/*Personajes*/
.personajes{
    display: flex;
    justify-content: space-between;
}
.personajes > div{
    background-color: #0aa08f;
    margin: 10px;
    padding: 10px;
    border-style: double;
    border-color: aqua;
    border-radius: 15px;
}
.personajes > div > img:hover + h3{
    color: red;
}

/*eventos*/
.eventos{
    display: inline-flex;
    flex-direction: column;
}
.eventos > ul > li{
    list-style: none;
    border: 4px dashed  #ecc958;
    background-color: #4ed48e;
    margin: 10px;
    padding: 10px;
    border-radius: 12px;
}
.eventos > ul > li + li + li{
    border: 4px dashed  #00a6e2;
    background-color: #198d74;
}

/*Pie de pagina*/
.pie_pagina{
    display: flex;
    background-color: #cc9045;
    color: beige;
}
.pie_pagina > p{
    font-weight: bold;
}
.pie_pagina > ul{
    display: flex;
    list-style: none;
}
.pie_pagina > ul > li{
    margin: 0 10px;
}
.pie_pagina > ul > li > a:hover{
    color:aqua;
}