*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Google Sans", sans-serif;
}

body{
    background-color: #c4e7e4;
}

.encabezado-Bienvenida{
    display: flex;
    justify-content: space-between;
    background-color: #7c90ec;
    color: white;
}

.enlaces{
    display: flex;
    justify-content: flex-end;
    list-style-type: none;

}

.enlaces > li{
    padding: 10px;
}
.enlaces a{
    color: white;
    text-decoration: none;
}
.enlaces a:hover{
    color: rgb(90, 109, 170);
}

.enlaces a:active{
    color: rgb(209, 18, 209);
}

.mensaje-inicio{
    text-align: center;
    background-image: url(../img/mundoDisney.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center; */
}

.boton-descubre-mas{
    color: #d9efed;
    border: 3px #120c5d;
    background-color:#120c5d;
    /* Relleno */
    padding: 13px;
    /* Espaciado con otros elementos */
    margin: 13px;
}
.boton-descubre-mas:hover{
    /* Transormar tamaño */
    transform: scale(1.1);
    color: #d9efed;
}

.peliculas-destacadas {
    display: flex;
    justify-content: space-around;
    
}
.peliculas-destacadas h2{
    margin: 13px;
    border: 50px;
    padding: 15px;
}

.peliculas-destacadas div{
    margin: 20px;
}

.peliculas-destacadas img{
    border-radius: 10px;
}

.personajes{
    display: flex;
    justify-content: space-around;
}
.personajes div{
    margin: 50px;
}

.p1{
    background-color: #67e5b9;
}
.p1 h3{
    font-family: cursive;
    color: #120c5d;
}

.p2{
    background-color: #17a7a1;
}
.p2 h3{
    font-family: 'Times New Roman', Times, serif;
    color: cadetblue;
}

.p3{
    background-color: #157c93;
}
.p3 h3{
    font-family: fantasy;
    color: darkseagreen;
}

.p4{
    background-color: #146383;
}
.p4 h3{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: indigo;
}

/* No se como es */
.personajes + div + h3:hover{
    color: brown;
}